<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои отзывы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<!-- NAV -->
<nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="40" height="40" class="me-2" alt="Логотип">
            СЕРВИС РЕМОНТА ТЕЛЕФОНОВ
        </a>

        <ul class="navbar-nav mx-auto gap-4">
            <li class="nav-item"><a class="nav-link" th:href="@{/catalog}">Каталог</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contacts}">Контакты</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/reviews}">Отзывы</a></li>
            <li class="nav-item"><a class="nav-link active" th:href="@{/client/myorders}">Мои заказы</a></li>
        </ul>

        <div class="d-flex align-items-center gap-3">
            <a th:href="@{/client/profile}" class="fw-semibold text-primary text-decoration-none">
                <span th:text="${#authentication.principal.firstName + ' ' + #authentication.principal.lastName}"></span>
            </a>
            <form th:action="@{/logout}" method="post" class="mb-0">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
            </form>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div class="container my-5">
    <div th:if="${successMessage}" class="alert alert-success text-center">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="row">
        <!-- MENU-->
        <div class="col-md-3 mb-3">
            <div class="bg-white p-4 rounded-4 shadow-sm mb-5">
                <h5 class="card-title mb-2">Меню</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/client/profile}" class="text-decoration-none">Мой профиль</a></li>
                    <li><a th:href="@{/catalog}" class="text-decoration-none">Оформить заказ</a></li>
                    <li><a th:href="@{/client/myorders}" class="text-decoration-none">Мои заказы</a></li>
                    <li><a th:href="@{/client/createreview}" class="text-decoration-none">Оставить отзыв</a></li>
                </ul>
            </div>
        </div>

        <!-- MAIN -->
        <div class="col-md-9">
            <div class="bg-white p-5 rounded-4 shadow-sm mb-5">
                <h3 class="fw-bold text-center mb-3">Мои отзывы</h3>
                <p class="text-muted mb-4 text-center">Здесь хранятся все отзывы, которые Вы оставляли на нашем сайте за все время</p>

                <p class="text-muted text-center" th:if="${#lists.isEmpty(reviews)}">Пусто.</p>

                <div class="row g-4" th:if="${!#lists.isEmpty(reviews)}">
                    <!-- СОРТИРОВКА -->
                    <div class="mb-1">
                        <div class="mt-4 d-flex align-items-center gap-2">
                            
                            <h5 class="mb-0" th:if="${currentDir == 'asc'}">Сначала старые</h5>
                            <h5 class="mb-0" th:if="${currentDir == 'desc'}">Сначала новые</h5>

                            <a th:href="@{/reviews(sortDir=${currentDir == 'asc' ? 'desc' : 'asc'})}"
                            class="btn btn-outline-dark btn-sm px-2 py-1">
                                ⇅
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4" th:each="review : ${reviews}">
                        <div class="border rounded-4 p-3 text-start">
                            <strong th:text="${review.client.firstName + ' ' + review.client.lastName}">Имя Фамилия</strong>
                            <div class="text-muted small" th:text="${#temporals.format(review.createdAt, 'dd.MM.yyyy HH:mm')}">Дата</div>
                            <div class="text-warning"><span th:each="i : ${#numbers.sequence(1, review.rating)}">★</span></div>
                            <p class="text-muted mt-1" th:text="${review.comment}">Комментарий</p>

                            <form th:action="@{/client/reviews/delete/{id}(id=${review.id})}" method="post" class="mt-2">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                            </form>
                        </div>
                    </div>

                    <nav th:if="${reviewsPage.totalPages > 1}">
                        <ul class="pagination justify-content-center mt-4">
                            <li class="page-item" th:classappend="${reviewsPage.first} ? 'disabled'">
                                <a class="page-link"
                                th:href="@{/client/myreviews(page=${reviewsPage.number - 1}, size=${reviewsPage.size}, sortDir=${currentDir})}">
                                    ←
                                </a>
                            </li>

                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, reviewsPage.totalPages - 1)}"
                                th:classappend="${i == reviewsPage.number} ? 'active'">
                                <a class="page-link"
                                th:text="${i + 1}"
                                th:href="@{/client/myreviews(page=${i}, size=${reviewsPage.size}, sortDir=${currentDir})}">
                                </a>
                            </li>

                            <li class="page-item" th:classappend="${reviewsPage.last} ? 'disabled'">
                                <a class="page-link"
                                th:href="@{/client/myreviews(page=${reviewsPage.number + 1}, size=${reviewsPage.size}, sortDir=${currentDir})}">
                                    →
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="mt-4 d-flex justify-content-center gap-2">
                    <a class="btn btn-outline-dark" th:href="@{/reviews}">Все отзывы</a>
                    <a class="btn btn-dark" th:href="@{/client/createreview}">Оставить отзыв</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="border-top py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="fw-bold mb-2">
                    <img th:src="@{/images/logo.png}" width="30" class="me-2" alt="Логотип сервиса ремонта телефонов">
                    СЕРВИС РЕМОНТА ТЕЛЕФОНОВ
                </div>
                <p class="text-muted small">Быстрая диагностика, качественный ремонт и гарантия.</p>
                <p class="text-muted small">Телефон: +7 (900) 123-45-67</p>
                <p class="text-muted small">Email: info@phonerepair.local</p>
                <p class="text-muted small">г. Владимир, ул. Белоконской, 3</p>
            </div>

            <div class="col-md-3">
                <strong>Меню</strong>
                <ul class="list-unstyled mt-2">
                    <li><a th:href="@{/catalog}">Каталог</a></li>
                    <li><a th:href="@{/contacts}">Контакты</a></li>
                    <li><a th:href="@{/reviews}">Отзывы</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <strong>Соцсети</strong>
                <ul class="list-unstyled mt-2">
                    <li><a href="https://telegram.org/">Telegram</a></li>
                    <li><a href="https://vk.com">VK</a></li>
                    <li><a href="https://max.ru">MAX</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <strong>Время работы</strong>
                <p class="small mt-2">
                    Пн–Пт: 09:00–20:00<br>
                    Сб: 10:00–18:00<br>
                    Вс: выходной
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>